In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA MARS NEWS

In [4]:
# Visit Nasa news url through splinter module
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
html= browser.html
soup= bs(html, 'html.parser')

In [6]:
news_title = soup.find("div", class_='content_title').get_text()
news_p = soup.find('div', class_='article_teaser_body').get_text()
print(news_title)
print(news_p)

Mars Now
It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

# JPL MARS SPACE IMAGES- FEATURED IMAGE

In [7]:
# Visit the url for JPL Featured Space Image
url_image="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)
browser.click_link_by_partial_text('FULL IMAGE')
expand = browser.find_by_css('a.fancybox-expand')

/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [8]:
html_image = browser.html
soup = bs(html_image, 'html.parser')


featured_image_url= soup.find("img",{"class":"fancybox-image"})["src"]

mainurl="https://www.jpl.nasa.gov"

original_image_url= mainurl + featured_image_url
print(original_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18826_ip.jpg

# Mars Facts

In [9]:
web_url= "https://space-facts.com/mars/"
browser.visit(web_url)
html_web=browser.html
soup=bs(html_web, "html.parser")

In [10]:
tables = pd.read_html(web_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [11]:
type("tables")

str

In [12]:
df1=tables[0]
df1

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
df2=tables[1]
df2

In [ ]:
df1.columns= ["Elements","Facts/Observations"]
df1

In [ ]:
df1['Elements'][0]

In [ ]:
df1.set_index("Elements", inplace= True)
df1.head()

In [ ]:
html_table = df1.to_html()
html_table

In [ ]:
html_table.replace('\n', '')

In [ ]:
df1.to_html('table.html')

# Mars Hemispheres

In [ ]:
# mars_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
# browser.visit(mars_url)
# html_mars=browser.html
# soup=bs(html_mars, "html.parser")

In [13]:
#installing jupyter notebook converter
#!pip install nbconvert

In [14]:
#!jupyter nbconvert --to python mission_to_mars.ipynb

In [15]:
#!mv mission_to_mars.py scrape_mars.py